automation/integrations/n8n_templates/api_integration.json
{
  "name": "API Integration",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "api-integration",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Extract and prepare data for API call\nconst inputData = $input.first().json;\n\n// Transform data as needed\nconst apiPayload = {\n  data: inputData,\n  timestamp: new Date().toISOString()\n};\n\nreturn apiPayload;"
      }
    },
    {
      "id": "api-call",
      "name": "API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "url": "https://api.example.com/endpoint",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json",
          "Authorization": "Bearer YOUR_API_KEY"
        },
        "body": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "// Process API response\nconst apiResponse = $input.first().json;\n\n// Add your response processing logic here\nconst processedResponse = {\n  success: true,\n  data: apiResponse,\n  processed_at: new Date().toISOString()\n};\n\nreturn processedResponse;"
      }
    },
    {
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
